In [2]:
import os

In [2]:
os.getcwd()  # --> giving me the path of where i am in folders from the very root.

'C:\\Users\\GYAN\\Desktop\\Panda Numpy Freecodecamp\\Python Basics\\python-os-and-filesystem'

In [8]:
os.listdir("C:\\Users")

['All Users', 'Default', 'Default User', 'desktop.ini', 'GYAN', 'Public']

In [9]:
os.getcwd("GYAN")

TypeError: nt.getcwd() takes no arguments (1 given)

In [17]:
os.listdir('/')  # --> giving all the file in the root directory.

['$Recycle.Bin',
 '$WinREAgent',
 'appverifUI.dll',
 'Config.Msi',
 'Documents and Settings',
 'DumpStack.log',
 'DumpStack.log.tmp',
 'hiberfil.sys',
 'install.log',
 'Intel',
 'pagefile.sys',
 'PerfLogs',
 'Program Files',
 'Program Files (x86)',
 'ProgramData',
 'Recovery',
 'swapfile.sys',
 'System Volume Information',
 'Temp',
 'Users',
 'vfcompat.dll',
 'Windows']

In [6]:
os.makedirs("./data",exist_ok=True)

In [7]:
os.listdir()

['.ipynb_checkpoints',
 '.jovianrc',
 'data',
 'Practicing FIle IO.ipynb',
 'python-os-and-filesystem.ipynb']

In [9]:
"data" in  os.listdir("./")

True

In [12]:
os.listdir("../")

['first-steps-with-python',
 'python-os-and-filesystem',
 'python-practice-assignment',
 'python-variables-and-data-types']

In [13]:
from urllib.request import urlretrieve

In [14]:
url2 = 'https://gist.githubusercontent.com/aakashns/257f6e6c8719c17d0e498ea287d1a386/raw/7def9ef4234ddf0bc82f855ad67dac8b971852ef/loans2.txt'

In [15]:
urlretrieve(url2,"./data/loans2.csv")

('./data/loans2.csv', <http.client.HTTPMessage at 0x2a1415e9000>)

In [16]:
url3 = 'https://gist.githubusercontent.com/aakashns/257f6e6c8719c17d0e498ea287d1a386/raw/7def9ef4234ddf0bc82f855ad67dac8b971852ef/loans3.txt'

In [17]:
urlretrieve(url3,"./data/loans3.csv")

('./data/loans3.csv', <http.client.HTTPMessage at 0x2a14060da50>)

In [19]:
os.listdir("./data")

['loans1.txt', 'loans2.csv', 'loans3.csv']

In [20]:
with open("./data/loans2.csv","r") as file:
    file_obj=file.readlines()

# here readlines() function gonna read every line of the file as a string and than store them in a list.

In [21]:
file_obj

['amount,duration,rate,down_payment\n',
 '828400,120,0.11,100000\n',
 '4633400,240,0.06,\n',
 '42900,90,0.08,8900\n',
 '983000,16,0.14,\n',
 '15230,48,0.07,4300']

In [22]:
file_obj

['amount,duration,rate,down_payment\n',
 '828400,120,0.11,100000\n',
 '4633400,240,0.06,\n',
 '42900,90,0.08,8900\n',
 '983000,16,0.14,\n',
 '15230,48,0.07,4300']

In [23]:
file_obj[0]

'amount,duration,rate,down_payment\n'

In [26]:
file_obj[0].strip().split(",") # --> split() returns list.

['amount', 'duration', 'rate', 'down_payment']

In [41]:
def parse_values(file):
    value=[]
    for element in file.strip().split(","):
        if element == '':
            value.append(0.0)
        else:
            try:
                value.append((float(element)))
            except ValueError:
                value.append((element))
    return value

In [33]:
file_obj[1].strip().split(",")

# --> as we know that every element of the list file_obj[1] is a str.

['828400', '120', '0.11', '100000']

In [36]:
print(int(float("gyan")))

ValueError: could not convert string to float: 'gyan'

In [38]:
# with open("./data/l")
os.listdir("./data")

['loans1.txt', 'loans2.csv', 'loans3.csv']

In [51]:
with open("./data/loans3.csv","r") as file:
    file_3=file.readlines()

In [8]:
file_3

['amount,duration,rate,down_payment\n',
 '45230,48,0.07,4300\n',
 '883000,16,0.14,\n',
 '100000,12,0.1,\n',
 '728400,120,0.12,100000\n',
 '3637400,240,0.06,\n',
 '82900,90,0.07,8900\n',
 '316000,16,0.13,\n',
 '15230,48,0.08,4300\n',
 '991360,99,0.08,\n',
 '323000,27,0.09,4720010000,36,0.08,20000\n',
 '528400,120,0.11,100000\n',
 '8633400,240,0.06,\n',
 '12900,90,0.08,8900']

In [12]:
file_3_element=parse_values(file_3[2])

[883000, 16, 0, 0]

In [47]:
for e in zip([1,2,3],[2,3,4],[3,4,5,]):
    print(e)

(1, 2, 3)
(2, 3, 4)
(3, 4, 5)

In [4]:
for e in (dict(zip(["Name","House","Roll"],[1,2,3]))):
    print(e,)

Name
House
Roll

In [23]:

def create_item_dict(values, headers):
    result = {}
    for value in zip(values, headers):
        result[header] = value
    return result

In [24]:
headers=parse_values(file_3[0])
create_dict(file_3_element,headers)

['amount', 'duration', 'rate', 'down_payment']

TypeError: 'NoneType' object is not iterable

In [41]:
values1 = parse_values(file_3[2])

[883000, 16, 0, 0]

In [35]:
result = {}
for value, header in zip(file_3_element, file_3[1].strip().split(",")):
    result[header] = value
print(result)

TypeError: 'NoneType' object is not iterable

In [38]:
file_3_element

In [37]:
file_3

['amount,duration,rate,down_payment\n',
 '45230,48,0.07,4300\n',
 '883000,16,0.14,\n',
 '100000,12,0.1,\n',
 '728400,120,0.12,100000\n',
 '3637400,240,0.06,\n',
 '82900,90,0.07,8900\n',
 '316000,16,0.13,\n',
 '15230,48,0.08,4300\n',
 '991360,99,0.08,\n',
 '323000,27,0.09,4720010000,36,0.08,20000\n',
 '528400,120,0.11,100000\n',
 '8633400,240,0.06,\n',
 '12900,90,0.08,8900']

In [39]:
value1

NameError: name 'value1' is not defined

In [46]:
create_item_dict(file_3[3].strip().split(","), parse_values(file_3[3]))

[100000, 12, 0, 0]

TypeError: 'NoneType' object is not iterable

In [47]:
file_3[3].strip().split(",")

['100000', '12', '0.1', '']

In [55]:
values1 = parse_values(file_3[2])

[883000.0, 16.0, 0.14, 0]

In [54]:
values2=parse_values(file_3[0])

['amount', 'duration', 'rate', 'down_payment']

In [56]:
create_item_dict(values1,values2)

TypeError: 'NoneType' object is not iterable

In [45]:
#  ---> make a read_csv() function 
# ---> open the file you wanted and read from it.
# ---> now convert this list every element into dictionary with "header as a key" and "value" as all the other element of the list.

def read_csv(file):
    
    with open(f"./data/{file}","r") as new_file:
        readed_file=new_file.readlines()
    
    headers=(readed_file[0].strip().split(","))
    value=[]
    for element in readed_file[2:]:
        dictionary=dict()
        parse=parse_values(element)
        for header,ele in zip(headers,parse):
            dictionary[header]=ele
        value.append(dictionary)
    return value

read_csv("loans3.csv")

# Embrase this code badi mushkil se aaya h

[{'amount': 883000.0, 'duration': 16.0, 'rate': 0.14, 'down_payment': 0.0},
 {'amount': 100000.0, 'duration': 12.0, 'rate': 0.1, 'down_payment': 0.0},
 {'amount': 728400.0,
  'duration': 120.0,
  'rate': 0.12,
  'down_payment': 100000.0},
 {'amount': 3637400.0, 'duration': 240.0, 'rate': 0.06, 'down_payment': 0.0},
 {'amount': 82900.0, 'duration': 90.0, 'rate': 0.07, 'down_payment': 8900.0},
 {'amount': 316000.0, 'duration': 16.0, 'rate': 0.13, 'down_payment': 0.0},
 {'amount': 15230.0, 'duration': 48.0, 'rate': 0.08, 'down_payment': 4300.0},
 {'amount': 991360.0, 'duration': 99.0, 'rate': 0.08, 'down_payment': 0.0},
 {'amount': 323000.0,
  'duration': 27.0,
  'rate': 0.09,
  'down_payment': 4720010000.0},
 {'amount': 528400.0,
  'duration': 120.0,
  'rate': 0.11,
  'down_payment': 100000.0},
 {'amount': 8633400.0, 'duration': 240.0, 'rate': 0.06, 'down_payment': 0.0},
 {'amount': 12900.0, 'duration': 90.0, 'rate': 0.08, 'down_payment': 8900.0}]

In [56]:
with open("./data/loans3.csv","r") as file3:
    read_files=file3.readlines()
read_files

['amount,duration,rate,down_payment\n',
 '45230,48,0.07,4300\n',
 '883000,16,0.14,\n',
 '100000,12,0.1,\n',
 '728400,120,0.12,100000\n',
 '3637400,240,0.06,\n',
 '82900,90,0.07,8900\n',
 '316000,16,0.13,\n',
 '15230,48,0.08,4300\n',
 '991360,99,0.08,\n',
 '323000,27,0.09,4720010000,36,0.08,20000\n',
 '528400,120,0.11,100000\n',
 '8633400,240,0.06,\n',
 '12900,90,0.08,8900']

In [51]:
import math

# Rounding a number up to the nearest integer
number = 123.45

rounded_number = math.ceil(number)

print(rounded_number) # 124

# Calculating the minimum value of a set of numbers
numbers = [123.01, 124.56, 125.67]

minimum_number = math.ceil(min(numbers))

print(minimum_number) # 125

# Determining the smallest possible value of a variable
height = 123.45

minimum_height = math.ceil(height)

print(minimum_height) # 124

124
124
124

In [52]:
def loan_emi(amount, duration, rate, down_payment=0):
    Total_amount=amount-down_payment
    try:
        emi=Total_amount*rate*((1+rate)**duration)/(((rate+1)**duration)-1)
    except ZeroDivisionError:
        emi=Total_amount/duration
    Emi=math.ceil(emi)
    return Emi

In [65]:
dict3=read_csv("loans3.csv")
for loan in dict3:
    loan['Emi']=loan_emi(loan['amount'],loan['duration'],loan['rate']/12,loan['down_payment'])
dict3

[{'amount': 883000.0,
  'duration': 16.0,
  'rate': 0.14,
  'down_payment': 0.0,
  'Emi': 60819},
 {'amount': 100000.0,
  'duration': 12.0,
  'rate': 0.1,
  'down_payment': 0.0,
  'Emi': 8792},
 {'amount': 728400.0,
  'duration': 120.0,
  'rate': 0.12,
  'down_payment': 100000.0,
  'Emi': 9016},
 {'amount': 3637400.0,
  'duration': 240.0,
  'rate': 0.06,
  'down_payment': 0.0,
  'Emi': 26060},
 {'amount': 82900.0,
  'duration': 90.0,
  'rate': 0.07,
  'down_payment': 8900.0,
  'Emi': 1060},
 {'amount': 316000.0,
  'duration': 16.0,
  'rate': 0.13,
  'down_payment': 0.0,
  'Emi': 21618},
 {'amount': 15230.0,
  'duration': 48.0,
  'rate': 0.08,
  'down_payment': 4300.0,
  'Emi': 267},
 {'amount': 991360.0,
  'duration': 99.0,
  'rate': 0.08,
  'down_payment': 0.0,
  'Emi': 13712},
 {'amount': 323000.0,
  'duration': 27.0,
  'rate': 0.09,
  'down_payment': 4720010000.0,
  'Emi': -193751447},
 {'amount': 528400.0,
  'duration': 120.0,
  'rate': 0.11,
  'down_payment': 100000.0,
  'Emi': 5902},
 {'amount': 8633400.0,
  'duration': 240.0,
  'rate': 0.06,
  'down_payment': 0.0,
  'Emi': 61853},
 {'amount': 12900.0,
  'duration': 90.0,
  'rate': 0.08,
  'down_payment': 8900.0,
  'Emi': 60}]

In [59]:
with open("./data/loans3.csv") as file:
    read_this=file.readlines()

In [64]:
read_csv("loans3.csv")

[{'amount': 883000.0, 'duration': 16.0, 'rate': 0.14, 'down_payment': 0.0},
 {'amount': 100000.0, 'duration': 12.0, 'rate': 0.1, 'down_payment': 0.0},
 {'amount': 728400.0,
  'duration': 120.0,
  'rate': 0.12,
  'down_payment': 100000.0},
 {'amount': 3637400.0, 'duration': 240.0, 'rate': 0.06, 'down_payment': 0.0},
 {'amount': 82900.0, 'duration': 90.0, 'rate': 0.07, 'down_payment': 8900.0},
 {'amount': 316000.0, 'duration': 16.0, 'rate': 0.13, 'down_payment': 0.0},
 {'amount': 15230.0, 'duration': 48.0, 'rate': 0.08, 'down_payment': 4300.0},
 {'amount': 991360.0, 'duration': 99.0, 'rate': 0.08, 'down_payment': 0.0},
 {'amount': 323000.0,
  'duration': 27.0,
  'rate': 0.09,
  'down_payment': 4720010000.0},
 {'amount': 528400.0,
  'duration': 120.0,
  'rate': 0.11,
  'down_payment': 100000.0},
 {'amount': 8633400.0, 'duration': 240.0, 'rate': 0.06, 'down_payment': 0.0},
 {'amount': 12900.0, 'duration': 90.0, 'rate': 0.08, 'down_payment': 8900.0}]

In [74]:
with open("./data/loans3.csv","w") as file:
    for loan in dict3:
        new_file=file.writelines(loan)
print(new_file)

None

In [68]:
with open("./data/loans3.csv") as file:
    read_file=file.readlines()

In [72]:
read_csv("loans3.csv")

[]

In [75]:
dict3

[{'amount': 883000.0,
  'duration': 16.0,
  'rate': 0.14,
  'down_payment': 0.0,
  'Emi': 60819},
 {'amount': 100000.0,
  'duration': 12.0,
  'rate': 0.1,
  'down_payment': 0.0,
  'Emi': 8792},
 {'amount': 728400.0,
  'duration': 120.0,
  'rate': 0.12,
  'down_payment': 100000.0,
  'Emi': 9016},
 {'amount': 3637400.0,
  'duration': 240.0,
  'rate': 0.06,
  'down_payment': 0.0,
  'Emi': 26060},
 {'amount': 82900.0,
  'duration': 90.0,
  'rate': 0.07,
  'down_payment': 8900.0,
  'Emi': 1060},
 {'amount': 316000.0,
  'duration': 16.0,
  'rate': 0.13,
  'down_payment': 0.0,
  'Emi': 21618},
 {'amount': 15230.0,
  'duration': 48.0,
  'rate': 0.08,
  'down_payment': 4300.0,
  'Emi': 267},
 {'amount': 991360.0,
  'duration': 99.0,
  'rate': 0.08,
  'down_payment': 0.0,
  'Emi': 13712},
 {'amount': 323000.0,
  'duration': 27.0,
  'rate': 0.09,
  'down_payment': 4720010000.0,
  'Emi': -193751447},
 {'amount': 528400.0,
  'duration': 120.0,
  'rate': 0.11,
  'down_payment': 100000.0,
  'Emi': 5902},
 {'amount': 8633400.0,
  'duration': 240.0,
  'rate': 0.06,
  'down_payment': 0.0,
  'Emi': 61853},
 {'amount': 12900.0,
  'duration': 90.0,
  'rate': 0.08,
  'down_payment': 8900.0,
  'Emi': 60}]

In [7]:
# dict3 contains the read_csv() returned loans3.csv
# this code write header to the csv file passed in the headers() function

def headers(file):
    with open(f"./data/{file}","w") as file:
        keys=""
        for key in dict3[0].keys():
            keys+=key+","
        file.writelines(keys.strip(",")+"\n")
    return keys

In [8]:
with open("./data/loans3.csv") as file:
    file_new=file.readlines()

In [96]:
keys

'amount,duration,rate,down_payment,Emi,'

In [9]:
# trying to make a function in which i can write all the values of dict3 list's dictionaries in the 'loans3.csv' file.
# Steps --->
# "keys" is whole a string we need to convert it into a "list of string keys."

def parse_keys(keys):
    All_keys=[]
    for key in keys.strip().split(","):
        All_keys.append(str(key))
    return All_keys

def write_into_file(csv_dict,file_to_write):
    
    with open(f"./data/{file_to_write}","a") as write_file:
        for element in csv_dict:
            values=""
            keys_to_place=headers(keys)
            for key in parse_keys(keys_to_place):
                if key == '':
                    continue
                if element[key]==0.0:
                    values+=''+","
                    continue
                print(element[key])
                values+=str(element[key])+","
            write_file.writelines(values.rstrip(",")+"\n")

In [4]:
write_into_file(dict3,"loans3.csv")

NameError: name 'dict3' is not defined

In [99]:
keys

'amount,duration,rate,down_payment,Emi,'

In [100]:
keys[0]

'a'

In [101]:
keys[1]

'm'

In [106]:
dict3

[{'amount': 883000.0,
  'duration': 16.0,
  'rate': 0.14,
  'down_payment': 0.0,
  'Emi': 60819},
 {'amount': 100000.0,
  'duration': 12.0,
  'rate': 0.1,
  'down_payment': 0.0,
  'Emi': 8792},
 {'amount': 728400.0,
  'duration': 120.0,
  'rate': 0.12,
  'down_payment': 100000.0,
  'Emi': 9016},
 {'amount': 3637400.0,
  'duration': 240.0,
  'rate': 0.06,
  'down_payment': 0.0,
  'Emi': 26060},
 {'amount': 82900.0,
  'duration': 90.0,
  'rate': 0.07,
  'down_payment': 8900.0,
  'Emi': 1060},
 {'amount': 316000.0,
  'duration': 16.0,
  'rate': 0.13,
  'down_payment': 0.0,
  'Emi': 21618},
 {'amount': 15230.0,
  'duration': 48.0,
  'rate': 0.08,
  'down_payment': 4300.0,
  'Emi': 267},
 {'amount': 991360.0,
  'duration': 99.0,
  'rate': 0.08,
  'down_payment': 0.0,
  'Emi': 13712},
 {'amount': 323000.0,
  'duration': 27.0,
  'rate': 0.09,
  'down_payment': 4720010000.0,
  'Emi': -193751447},
 {'amount': 528400.0,
  'duration': 120.0,
  'rate': 0.11,
  'down_payment': 100000.0,
  'Emi': 5902},
 {'amount': 8633400.0,
  'duration': 240.0,
  'rate': 0.06,
  'down_payment': 0.0,
  'Emi': 61853},
 {'amount': 12900.0,
  'duration': 90.0,
  'rate': 0.08,
  'down_payment': 8900.0,
  'Emi': 60}]

In [10]:
# lets learn ".join" in python

In [11]:
name="_".join("Gyan")

In [12]:
name

'G_y_a_n'

In [13]:
name="gyan".join(" dev")

In [14]:
name

' gyandgyanegyanv'

In [18]:
naam="*".join([4454464])

TypeError: sequence item 0: expected str instance, int found

In [16]:
naam

'4*4*5*4*4*6*4'

In [19]:
"-".join(['gyan','dev','sharma'])

'gyan-dev-sharma'

In [3]:
s="-"
student={"name":"gyan","class":"cse-c"}
s.join(student)

# only keys will be joined with '-'

'name-class'

In [55]:
# Comprehensions in containers when using if-else conditions.

names=["gyan","dev","","sharma",""]
"_".join(word if word else (word+"a") for word in names)

'gyan_dev_a_sharma_a'

In [1]:
# Comprehensions in containers when using only if condition not else.
# This is the wrong way

names=["gyan","dev","","sharma",""]
"_".join(word if word  for word in names)

SyntaxError: expected 'else' after 'if' expression (4165119345.py, line 4)

In [2]:
# Comprehensions in containers when using only if condition not else.
# This is the right way

names=["gyan","dev","","sharma",""]
"_".join(word for word in names if word )

'gyan_dev_sharma'

The join() method takes all items in an iterable and joins them into one string.

------------------------   Pandas csv files  -------------------

In [4]:
movies_url="https://gist.githubusercontent.com/aakashns/afee0a407d44bbc02321993548021af9/raw/6d7473f0ac4c54aca65fc4b06ed831b8a4840190/movies.csv"

In [6]:
from urllib.request import urlretrieve

urlretrieve(movies_url,"data/slakfslk.csv")

('data/slakfslk.csv', <http.client.HTTPMessage at 0x1d838a65180>)

In [7]:
!pip install pandas --upgrade --quiet

In [8]:
import pandas as pd

In [9]:
movies_dataFrame=pd.read_csv("./data/movies.csv")

In [10]:
movies_dataFrame

             title                                description
0   Fast & Furious               A movie, a race, a franchise
1  The Dark Knight        Gotham, the "Batman", and the Joker
2          Memento  A guy forgets everything every 15 minutes

In [21]:
# to convert dataFrame in pandas to list of dictionaries, use to_dict('records')

movies_dict=movies_dataFrame.to_dict('records')

In [22]:
movies_dict

[{'title': 'Fast & Furious', 'description': 'A movie, a race, a franchise'},
 {'title': 'The Dark Knight',
  'description': 'Gotham, the "Batman", and the Joker'},
 {'title': 'Memento',
  'description': 'A guy forgets everything every 15 minutes'}]

The default command line shell in Windows is not based on Unix or Linux. Windows operating system uses Command Prompt (cmd.exe) as its default command line shell. Command Prompt has its own set of commands and syntax that are specific to the Windows environment.

In [24]:
df=pd.DataFrame(movies_dict)

In [25]:
df

             title                                description
0   Fast & Furious               A movie, a race, a franchise
1  The Dark Knight        Gotham, the "Batman", and the Joker
2          Memento  A guy forgets everything every 15 minutes

In [32]:
df.to_csv("./data/movies4.csv",index=True,index_label="No.")

In [4]:
(print(type(",".join(['1','2','3','4']))))

<class 'str'>