## Data Analysis with Python: Zero to Pandas - Course Project Guidelines
#### (remove this cell before submission)

Important links:
- Make submissions here: https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas/assignment/course-project
- Ask questions here: https://jovian.ml/forum/t/course-project-on-exploratory-data-analysis-discuss-and-share-your-work/11684
- Find interesting datasets here: https://jovian.ml/forum/t/recommended-datasets-for-course-project/11711


This is the starter notebook for the course project for [Data Analysis with Python: Zero to Pandas](https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas). You will pick a real-world dataset of your choice and apply the concepts learned in this course to perform exploratory data analysis. Use this starter notebook as an outline for your project . Focus on documentation and presentation - this Jupyter notebook will also serve as a project report, so make sure to include detailed explanations wherever possible using Markdown cells.

### Evaluation Criteria

Your submission will be evaluated using the following criteria:

* Dataset must contain at least 3 columns and 150 rows of data
* You must ask and answer at least 4 questions about the dataset
* Your submission must include at least 4 visualizations (graphs)
* Your submission must include explanations using markdown cells, apart from the code.
* Your work must not be plagiarized i.e. copy-pasted for somewhere else.


Follow this step-by-step guide to work on your project.


### Step 1: Select a real-world dataset 

- Find an interesting dataset on this page: https://www.kaggle.com/datasets?fileType=csv
- The data should be in CSV format, and should contain at least 3 columns and 150 rows
- Download the dataset using the [`opendatasets` Python library](https://github.com/JovianML/opendatasets#opendatasets)

Here's some sample code for downloading the [US Elections Dataset](https://www.kaggle.com/tunguz/us-elections-dataset):

```
import opendatasets as od
dataset_url = 'https://www.kaggle.com/tunguz/us-elections-dataset'
od.download('https://www.kaggle.com/tunguz/us-elections-dataset')
```

You can find a list of recommended datasets here: https://jovian.ml/forum/t/recommended-datasets-for-course-project/11711

### Step 2: Perform data preparation & cleaning

- Load the dataset into a data frame using Pandas
- Explore the number of rows & columns, ranges of values etc.
- Handle missing, incorrect and invalid data
- Perform any additional steps (parsing dates, creating additional columns, merging multiple dataset etc.)


### Step 3: Perform exploratory analysis & visualization

- Compute the mean, sum, range and other interesting statistics for numeric columns
- Explore distributions of numeric columns using histograms etc.
- Explore relationship between columns using scatter plots, bar charts etc.
- Make a note of interesting insights from the exploratory analysis

### Step 4: Ask & answer questions about the data

- Ask at least 4 interesting questions about your dataset
- Answer the questions either by computing the results using Numpy/Pandas or by plotting graphs using Matplotlib/Seaborn
- Create new columns, merge multiple dataset and perform grouping/aggregation wherever necessary
- Wherever you're using a library function from Pandas/Numpy/Matplotlib etc. explain briefly what it does


### Step 5: Summarize your inferences & write a conclusion

- Write a summary of what you've learned from the analysis
- Include interesting insights and graphs from previous sections
- Share ideas for future work on the same topic using other relevant datasets
- Share links to resources you found useful during your analysis


### Step 6: Make a submission & share your work

- Upload your notebook to your Jovian.ml profile using `jovian.commit`.
- **Make a submission here**: https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas/assignment/course-project
- Share your work on the forum: https://jovian.ml/forum/t/course-project-on-exploratory-data-analysis-discuss-and-share-your-work/11684
- Browse through projects shared by other participants and give feedback


### (Optional) Step 7: Write a blog post

- A blog post is a great way to present and showcase your work.  
- Sign up on [Medium.com](https://medium.com) to write a blog post for your project.
- Copy over the explanations from your Jupyter notebook into your blog post, and [embed code cells & outputs](https://medium.com/jovianml/share-and-embed-jupyter-notebooks-online-with-jovian-ml-df709a03064e)
- Check out the Jovian.ml Medium publication for inspiration: https://medium.com/jovianml





### Example Projects

Refer to these projects for inspiration:

* [Analyzing StackOverflow Developer Survey Results](https://jovian.ml/aakashns/python-eda-stackoverflow-survey)

* [Analyzing Covid-19 data using Pandas](https://jovian.ml/aakashns/python-pandas-data-analysis) 

* [Analyzing your browser history using Pandas & Seaborn](https://medium.com/free-code-camp/understanding-my-browsing-pattern-using-pandas-and-seaborn-162b97e33e51) by Kartik Godawat

* [WhatsApp Chat Data Analysis](https://jovian.ml/PrajwalPrashanth/whatsapp-chat-data-analysis) by Prajwal Prashanth

* [Understanding the Gender Divide in Data Science Roles](https://medium.com/datadriveninvestor/exploratory-data-analysis-eda-understanding-the-gender-divide-in-data-science-roles-9faa5da44f5b) by Aakanksha N S

* [2019 State of Javscript Survey Results](https://2019.stateofjs.com/demographics/)

* [2020 Stack Overflow Developer Survey Results](https://insights.stackoverflow.com/survey/2020)



**NOTE**: Remove this cell containing the instructions before making your submission. You can do using the "Edit > Delete Cells" menu option.

# Project Title - change this

TODO - Write some introduction about your project here: describe the dataset, where you got it from, what you're trying to do with it, and which tools & techniques you're using. You can also mention about the course [Data Analysis with Python: Zero to Pandas](zerotopandas.com), and what you've learned from it.

### How to run the code

This is an executable [*Jupyter notebook*](https://jupyter.org) hosted on [Jovian.ml](https://www.jovian.ml), a platform for sharing data science projects. You can run and experiment with the code in a couple of ways: *using free online resources* (recommended) or *on your own computer*.

#### Option 1: Running using free online resources (1-click, recommended)

The easiest way to start executing this notebook is to click the "Run" button at the top of this page, and select "Run on Binder". This will run the notebook on [mybinder.org](https://mybinder.org), a free online service for running Jupyter notebooks. You can also select "Run on Colab" or "Run on Kaggle".


#### Option 2: Running on your computer locally

1. Install Conda by [following these instructions](https://conda.io/projects/conda/en/latest/user-guide/install/index.html). Add Conda binaries to your system `PATH`, so you can use the `conda` command on your terminal.

2. Create a Conda environment and install the required libraries by running these commands on the terminal:

```
conda create -n zerotopandas -y python=3.8 
conda activate zerotopandas
pip install jovian jupyter numpy pandas matplotlib seaborn opendatasets --upgrade
```

3. Press the "Clone" button above to copy the command for downloading the notebook, and run it on the terminal. This will create a new directory and download the notebook. The command will look something like this:

```
jovian clone notebook-owner/notebook-id
```



4. Enter the newly created directory using `cd directory-name` and start the Jupyter notebook.

```
jupyter notebook
```

You can now access Jupyter's web interface by clicking the link that shows up on the terminal or by visiting http://localhost:8888 on your browser. Click on the notebook file (it has a `.ipynb` extension) to open it.

## Downloading the Dataset

**TODO** - add some explanation here

> Instructions for downloading the dataset (delete this cell)
>
> - Find an interesting dataset on this page: https://www.kaggle.com/datasets?fileType=csv
> - The data should be in CSV format, and should contain at least 3 columns and 150 rows
> - Download the dataset using the [`opendatasets` Python library](https://github.com/JovianML/opendatasets#opendatasets)

In [2]:
!pip install jovian opendatasets --upgrade --quiet

Let's begin by downloading the data, and listing the files within the dataset.

In [25]:
# Change this
dataset_url = 'https://www.kaggle.com/datasets/mukuldeshantri/ecommerce-fashion-dataset'

In [26]:
# import opendatasets as od
# od.download(dataset_url)

import opendatasets as od
od.download(dataset_url)

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: gyandevgd
Your Kaggle Key: ········
Downloading ecommerce-fashion-dataset.zip to .\ecommerce-fashion-dataset

100%|████████████████████████████████████████████████████████████████████████████████| 546k/546k [00:01<00:00, 410kB/s]

In [27]:
# Change this
data_dir = './ecommerce-fashion-dataset/'

In [28]:
import os
os.listdir(data_dir)

['FashionDataset.csv']

Let us save and upload our work to Jovian before continuing.

In [29]:
project_name = "Women's Fashion-Products" # change this (use lowercase letters and hyphens only)

In [7]:
!pip install jovian --upgrade -q

In [8]:
import jovian

In [31]:
jovian.commit(project=project_name)

[jovian] Creating a new project "gyan313/Women's Fashion-Products"
[jovian] Committed successfully! https://jovian.com/gyan313/womens-fashion-products-ea45d

'https://jovian.com/gyan313/womens-fashion-products-ea45d'

## Data Preparation and Cleaning

**TODO** - Write some explanation here.

> Instructions (delete this cell):
>
> - Load the dataset into a data frame using Pandas
> - Explore the number of rows & columns, ranges of values etc.
> - Handle missing, incorrect and invalid data
> - Perform any additional steps (parsing dates, creating additional columns, merging multiple dataset etc.)

In [32]:
# Importing essential python libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [41]:
fashion_df = pd.read_csv("./ecommerce-fashion-dataset/FashionDataset.csv")

# Renaming the "Deatils" column name as it is correctly written as "Details"
fashion_df.rename(columns={"Deatils":"Details"},inplace=True)

fashion_df

,Unnamed: 0,BrandName,Details,Sizes,MRP,SellPrice,Discount,Category
0,0,life,solid cotton blend collar neck womens a-line d...,"Size:Large,Medium,Small,X-Large,X-Small",Rs\n1699,849,50% off,Westernwear-Women
1,1,only,polyester peter pan collar womens blouson dres...,"Size:34,36,38,40",Rs\n3499,2449,30% off,Westernwear-Women
2,2,fratini,solid polyester blend wide neck womens regular...,"Size:Large,X-Large,XX-Large",Rs\n1199,599,50% off,Westernwear-Women
3,3,zink london,stripes polyester sweetheart neck womens dress...,"Size:Large,Medium,Small,X-Large",Rs\n2299,1379,40% off,Westernwear-Women
4,4,life,regular fit regular length denim womens jeans ...,"Size:26,28,30,32,34,36",Rs\n1699,849,50% off,Westernwear-Women
...,...,...,...,...,...,...,...,...
30753,21,swarovski,crystal stylish womens rodhium earrings,Nan,Nan,8950,Nan,Jewellery-Women
30754,22,Nan,Nan,Nan,Nan,Nan,Nan,Jewellery-Women
30755,23,jewelz,ethnic gold plated jhumki earrings,Nan,Rs\n1839,643,65% off,Jewellery-Women
30756,24,estelle,womens gold plated double line fancy white and...,Nan,Nan,2799,Nan,Jewellery-Women
30757,25,estelle,womens gold plated bridge designer mangalsutra...,Nan,Nan,1899,Nan,Jewellery-Women

In [43]:
# Removing the "Unnamed" column from the fashion_df.

fashion_df = fashion_df[["BrandName","Details","Sizes","MRP","SellPrice","Discount","Category"]]

fashion_df[fashion_df["Details"] == "Nan"]

      BrandName Details Sizes  MRP SellPrice Discount           Category
22          Nan     Nan   Nan  Nan       Nan      Nan  Westernwear-Women
48          Nan     Nan   Nan  Nan       Nan      Nan  Westernwear-Women
74          Nan     Nan   Nan  Nan       Nan      Nan  Westernwear-Women
100         Nan     Nan   Nan  Nan       Nan      Nan  Westernwear-Women
126         Nan     Nan   Nan  Nan       Nan      Nan  Westernwear-Women
...         ...     ...   ...  ...       ...      ...                ...
30650       Nan     Nan   Nan  Nan       Nan      Nan    Jewellery-Women
30676       Nan     Nan   Nan  Nan       Nan      Nan    Jewellery-Women
30702       Nan     Nan   Nan  Nan       Nan      Nan    Jewellery-Women
30728       Nan     Nan   Nan  Nan       Nan      Nan    Jewellery-Women
30754       Nan     Nan   Nan  Nan       Nan      Nan    Jewellery-Women

[1183 rows x 7 columns]

In [5]:
# Lets deal with "Nan" with utter dedication cause there are a lot of Nan values. Just stay with me ,we gonna fight with it ,
# heads on.

# Dealing with NAN values in "fashion_df" above.
# There are different ways to handle NaN values depending on the context and the goal of your analysis. Some common methods are:
# 1) Removing rows or columns that contain NaN values.
# 2) Replacing NaN values with some other values, such as mean, median, mode, zero, etc.
# 3) Imputing NaN values using some techniques, such as linear regression, k-nearest neighbors, etc.

# In-depth explaination.....

# Removing Rows or Columns with NaN Values:

# Use when:
# The NaN values are relatively few and do not significantly impact the overall dataset.
# Rows or columns with NaN values are not critical for your analysis.
# Pros:
# Simple and quick.
# Can be appropriate if the missing data is random and not systematic.
# Cons:
# May result in loss of potentially valuable information.
# Not suitable when missing data patterns are important.

# Replacing NaN Values with Other Values:

# Use when:
# NaN values have meaning (e.g., NaN in a "age" column might mean "unknown" or "not applicable").
# You want to preserve the structure of your dataset.
# Pros:
# Preserves the entire dataset.
# Can be useful when missing data is not completely random.
# Cons:
# May introduce bias if replacement values are not chosen carefully.
# The choice of replacement value should make sense in the context of the data.

# Imputing NaN Values Using Techniques:

# Use when:
# NaN values are systematic, and you believe there is a relationship between missing values and other variables.
# You want to make the best use of available data.
# Pros:
# Utilizes available information to estimate missing values.
# Can provide more accurate and meaningful results when missing data is not random.
# Cons:
# Requires more complex techniques and assumptions.
# The accuracy of imputed values depends on the chosen imputation method.

# MY OPINION (which is the most important thing in the world) ====>
# I am not choosing the 1st option, because the NAN values are close 15% of whole dataframe in all the dataframes ,which is a 
# significant amount of dataframe.
# I am not choosing to put mean,median and mode because i have done this before , and i want to do something different.
# I am choosing the 3rd option cause i havent done this before and i want to try it out.

In [6]:
# Imputing NaN Values Using ML - Scikit Learn Techniques ....
# A better strategy is to impute the missing values, i.e., to infer them from the known part of the data

# "iterative_imputer" ....

# from sklearn.experimental import enable_iterative_imputer
# from sklearn.impute import IterativeImputer
# imputer = IterativeImputer(random_state=0)
# imputer.fit_transform(export_df_1)

# But we cant use the iterative_imputer cause it is gonna go in cycles and compute missing values using all the other columns.
# But in these 4 dfs we have , there are string values in columns too, and imputer cant deal with string values.
# So, whats the soln ?
# WE gonna use the "SimpleImputer" from sklearn.-----> and SimpleImputer donot go into other columns to compute the missing value.

# SimpleImputer ....

from sklearn.impute import SimpleImputer

imputer = SimpleImputer(missing_values=np.nan,strategy='mean')

values = imputer.fit_transform([export_df_1['value']])

values = values.reshape(165497)

# Values contain the all the values replaced "nan" 
# but the size of values is "165497" not "184755" ?
# Answer ---> SimpleImputer considered 0.0 as empty box and it just doesnt include empty box in its result.

In [7]:
# adding the imputed values in the export_df_1 column "value"

n = 0   # ---> index in "values" array
for i in range(export_df_1.va):
    if export_df_1.value[i] == 0.0 :
        continue
    export_df_1.value[i] = values[n]

TypeError: 'Series' object cannot be interpreted as an integer

import jovian

In [ ]:
jovian.commit()

## Exploratory Analysis and Visualization

**TODO** - write some explanation here.

> Instructions (delete this cell)
> 
> - Compute the mean, sum, range and other interesting statistics for numeric columns
> - Explore distributions of numeric columns using histograms etc.
> - Explore relationship between columns using scatter plots, bar charts etc.
> - Make a note of interesting insights from the exploratory analysis

Let's begin by importing`matplotlib.pyplot` and `seaborn`.

In [ ]:
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

sns.set_style('darkgrid')
matplotlib.rcParams['font.size'] = 14
matplotlib.rcParams['figure.figsize'] = (9, 5)
matplotlib.rcParams['figure.facecolor'] = '#00000000'

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

Let us save and upload our work to Jovian before continuing

In [ ]:
import jovian

In [ ]:
jovian.commit()

## Asking and Answering Questions

TODO - write some explanation here.

> Instructions (delete this cell)
>
> - Ask at least 5 interesting questions about your dataset
> - Answer the questions either by computing the results using Numpy/Pandas or by plotting graphs using Matplotlib/Seaborn
> - Create new columns, merge multiple dataset and perform grouping/aggregation wherever necessary
> - Wherever you're using a library function from Pandas/Numpy/Matplotlib etc. explain briefly what it does

#### Q1: TODO - ask a question here and answer it below

#### Q2: TODO - ask a question here and answer it below

#### Q3: TODO - ask a question here and answer it below

#### Q4: TODO - ask a question here and answer it below

#### Q5: TODO - ask a question here and answer it below

Let us save and upload our work to Jovian before continuing.

In [ ]:
import jovian

In [ ]:
jovian.commit()

## Inferences and Conclusion

**TODO** - Write some explanation here: a summary of all the inferences drawn from the analysis, and any conclusions you may have drawn by answering various questions.

In [ ]:
import jovian

In [ ]:
jovian.commit()

## References and Future Work

**TODO** - Write some explanation here: ideas for future projects using this dataset, and links to resources you found useful.

> Submission Instructions (delete this cell)
> 
> - Upload your notebook to your Jovian.ml profile using `jovian.commit`.
> - **Make a submission here**: https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas/assignment/course-project
> - Share your work on the forum: https://jovian.ml/forum/t/course-project-on-exploratory-data-analysis-discuss-and-share-your-work/11684
> - Share your work on social media (Twitter, LinkedIn, Telegram etc.) and tag [@JovianML](https://twitter.com/jovianml)
>
> (Optional) Write a blog post
> 
> - A blog post is a great way to present and showcase your work.  
> - Sign up on [Medium.com](https://medium.com) to write a blog post for your project.
> - Copy over the explanations from your Jupyter notebook into your blog post, and [embed code cells & outputs](https://medium.com/jovianml/share-and-embed-jupyter-notebooks-online-with-jovian-ml-df709a03064e)
> - Check out the Jovian.ml Medium publication for inspiration: https://medium.com/jovianml

In [ ]:
import jovian

In [ ]:
jovian.commit()