In [2]:
import pandas as pd

covid_df=pd.read_csv("./data/italy-covid-daywise.csv")

In [5]:
covid_df

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[248 rows x 4 columns]

In [6]:
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        248 non-null    object
 1   new_cases   248 non-null    float64
 2   new_deaths  248 non-null    float64
 3   new_tests   135 non-null    float64
dtypes: float64(3), object(1)
memory usage: 7.9+ KB

In [7]:
covid_df.describe()

         new_cases  new_deaths     new_tests
count   248.000000  248.000000    135.000000
mean   1094.818548  143.133065  31699.674074
std    1554.508002  227.105538  11622.209757
min    -148.000000  -31.000000   7841.000000
25%     123.000000    3.000000  25259.000000
50%     342.000000   17.000000  29545.000000
75%    1371.750000  175.250000  37711.000000
max    6557.000000  971.000000  95273.000000

In [8]:
covid_df.columns

Index(['date', 'new_cases', 'new_deaths', 'new_tests'], dtype='object')

In [9]:
covid_df['date']

0      2019-12-31
1      2020-01-01
2      2020-01-02
3      2020-01-03
4      2020-01-04
          ...
243    2020-08-30
244    2020-08-31
245    2020-09-01
246    2020-09-02
247    2020-09-03
Name: date, Length: 248, dtype: object

In [10]:
covid_df.shape

(248, 4)

In [11]:
covid_df["new_cases"]

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
243    1444.0
244    1365.0
245     996.0
246     975.0
247    1326.0
Name: new_cases, Length: 248, dtype: float64

In [12]:
print(type(covid_df["new_deaths"][1]))

<class 'numpy.float64'>

In [13]:
covid_df.at[247,'new_tests']=100

In [14]:
covid_df

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0      100.0

[248 rows x 4 columns]

In [15]:
covid_df.new_cases

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
243    1444.0
244    1365.0
245     996.0
246     975.0
247    1326.0
Name: new_cases, Length: 248, dtype: float64

In [16]:
modified_covid_df=covid_df[['date','new_deaths']]

In [17]:
modified_covid_df

           date  new_deaths
0    2019-12-31         0.0
1    2020-01-01         0.0
2    2020-01-02         0.0
3    2020-01-03         0.0
4    2020-01-04         0.0
..          ...         ...
243  2020-08-30         1.0
244  2020-08-31         4.0
245  2020-09-01         6.0
246  2020-09-02         8.0
247  2020-09-03         6.0

[248 rows x 2 columns]

In [18]:
covid_df_copy=covid_df.copy()

# now any change in covid_df_new DF will not be reflected in our original covid_df .

In [19]:
covid_df_copy

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0      100.0

[248 rows x 4 columns]

In [20]:
covid_df.loc[200]

date          2020-07-18
new_cases          231.0
new_deaths          11.0
new_tests        27569.0
Name: 200, dtype: object

In [21]:
type(covid_df.loc[203]) # --> each row in dataFrame also a Series object.

pandas.core.series.Series

In [22]:
covid_df['new_tests'][247]='NaN'

C:\Users\GYAN\AppData\Local\Temp\ipykernel_30544\1711798957.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid_df['new_tests'][247]='NaN'

In [23]:
covid_df

           date  new_cases  new_deaths new_tests
0    2019-12-31        0.0         0.0       NaN
1    2020-01-01        0.0         0.0       NaN
2    2020-01-02        0.0         0.0       NaN
3    2020-01-03        0.0         0.0       NaN
4    2020-01-04        0.0         0.0       NaN
..          ...        ...         ...       ...
243  2020-08-30     1444.0         1.0   53541.0
244  2020-08-31     1365.0         4.0   42583.0
245  2020-09-01      996.0         6.0   54395.0
246  2020-09-02      975.0         8.0       NaN
247  2020-09-03     1326.0         6.0       NaN

[248 rows x 4 columns]

In [24]:
covid_df.loc[247]['new_cases']

1326.0

In [25]:
covid_df.head(100)

          date  new_cases  new_deaths new_tests
0   2019-12-31        0.0         0.0       NaN
1   2020-01-01        0.0         0.0       NaN
2   2020-01-02        0.0         0.0       NaN
3   2020-01-03        0.0         0.0       NaN
4   2020-01-04        0.0         0.0       NaN
..         ...        ...         ...       ...
95  2020-04-04     4585.0       764.0       NaN
96  2020-04-05     4805.0       681.0       NaN
97  2020-04-06     4316.0       527.0       NaN
98  2020-04-07     3599.0       636.0       NaN
99  2020-04-08     3039.0       604.0       NaN

[100 rows x 4 columns]

In [26]:
covid_df.tail(8)

           date  new_cases  new_deaths new_tests
240  2020-08-27     1366.0        13.0   57640.0
241  2020-08-28     1409.0         5.0   65135.0
242  2020-08-29     1460.0         9.0   64294.0
243  2020-08-30     1444.0         1.0   53541.0
244  2020-08-31     1365.0         4.0   42583.0
245  2020-09-01      996.0         6.0   54395.0
246  2020-09-02      975.0         8.0       NaN
247  2020-09-03     1326.0         6.0       NaN

In [27]:
covid_df

           date  new_cases  new_deaths new_tests
0    2019-12-31        0.0         0.0       NaN
1    2020-01-01        0.0         0.0       NaN
2    2020-01-02        0.0         0.0       NaN
3    2020-01-03        0.0         0.0       NaN
4    2020-01-04        0.0         0.0       NaN
..          ...        ...         ...       ...
243  2020-08-30     1444.0         1.0   53541.0
244  2020-08-31     1365.0         4.0   42583.0
245  2020-09-01      996.0         6.0   54395.0
246  2020-09-02      975.0         8.0       NaN
247  2020-09-03     1326.0         6.0       NaN

[248 rows x 4 columns]

In [28]:
covid_df['new_tests'].first_valid_index()

111

In [29]:
type(covid_df.loc[:])

pandas.core.frame.DataFrame

In [30]:
covid_df.sample(n=9,ignore_index=False,axis=0,replace=True)

           date  new_cases  new_deaths new_tests
35   2020-02-04        0.0         0.0       NaN
171  2020-06-19      331.0        66.0   28570.0
66   2020-03-06      769.0        41.0       NaN
180  2020-06-28      175.0         8.0   21183.0
110  2020-04-19     3491.0       480.0       NaN
17   2020-01-17        0.0         0.0       NaN
92   2020-04-01     4053.0       839.0       NaN
183  2020-07-01      142.0        23.0   29325.0
226  2020-08-13      476.0        10.0   25629.0

In [31]:
covid_df['new_cases'].sum()

271515.0

In [32]:
covid_df

           date  new_cases  new_deaths new_tests
0    2019-12-31        0.0         0.0       NaN
1    2020-01-01        0.0         0.0       NaN
2    2020-01-02        0.0         0.0       NaN
3    2020-01-03        0.0         0.0       NaN
4    2020-01-04        0.0         0.0       NaN
..          ...        ...         ...       ...
243  2020-08-30     1444.0         1.0   53541.0
244  2020-08-31     1365.0         4.0   42583.0
245  2020-09-01      996.0         6.0   54395.0
246  2020-09-02      975.0         8.0       NaN
247  2020-09-03     1326.0         6.0       NaN

[248 rows x 4 columns]

In [33]:
total_cases=covid_df['new_cases'].sum()
total_deaths=covid_df['new_deaths'].sum()

In [34]:
overall_death_rate=total_deaths/total_cases

In [35]:
print(f"The overall reported death rate in Italy is: {overall_death_rate*100:.2f} %.")

The overall reported death rate in Italy is: 13.07 %.

In [36]:
covid_df['new_tests'].sum()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [ ]:
from math import nan

covid_df['new_tests'][247]=nan

In [ ]:
type(NAN)

In [ ]:
covid_df

In [ ]:
covid_df['new_tests'].sum()

In [ ]:
query=covid_df['new_cases'] < 1000

In [ ]:
query.sum()

In [ ]:
covid_df[query]

In [ ]:
covid_df[covid_df['new_tests'] <> nan]

In [41]:
overall_positive_rate=(covid_df['new_cases'].sum()/covid_df['new_tests'].sum())*100

In [42]:
overall_positive_rate

6.344614829548428

In [48]:
covid_df[(covid_df['new_cases'] / covid_df['new_tests'])*100 > overall_positive_rate]
(covid_df['new_cases'] / covid_df['new_tests'])*100 > overall_positive_rate

0      False
1      False
2      False
3      False
4      False
       ...
243    False
244    False
245    False
246    False
247    False
Length: 248, dtype: bool

In [ ]:
covid_df

In [38]:
covid_df['Positive_rate']=(covid_df['new_cases'] / covid_df['new_tests'])

TypeError: unsupported operand type(s) for /: 'float' and 'str'

In [ ]:
covid_df

In [ ]:
# drop column
covid_df.drop(columns=['Positive_rate'],inplace=True)

In [ ]:
covid_df

In [ ]:
from math import nan
covid_df.at[247,'new_tests']=nan

In [ ]:
from IPython.display import display
with pd.option_context('display.max_rows',200000000): # --> WITHOUT big values like 20000000 this will not give the whole display 
                                                      #     the dataFrame.
    display(covid_df.sort_values('new_tests','new_deaths',ascending=False))

In [ ]:
covid_df.loc[240]

In [ ]:
covid_df['new_cases']

In [ ]:
from math import nan
covid_df[covid_df['new_cases'] >= 0].head(10)

In [ ]:
help(covid_df.sort_index)

In [ ]:
covid_df.sample(10).sort_index(key=lambda x:x>=1) # ---> here key represent how are you going to sort the index (based on what values).

In [ ]:
covid_df[166:175]

In [ ]:
covid_df.at[172,'new_cases']=(covid_df.at[171,'new_cases']+covid_df.at[173,'new_cases'])/2

In [ ]:
covid_df.loc[166]

In [ ]:
covid_df_copy.drop(index=[0,1])

In [ ]:
covid_df_copy

In [ ]:
covid_df.date

In [ ]:
type(covid_df['date'][0])

In [ ]:
covid_df['date']=pd.to_datetime(covid_df['date'])

In [ ]:
type(covid_df['date'])

In [ ]:
type(pd.to_datetime(covid_df['date']))

In [ ]:
covid_df.date.info()

In [ ]:
covid_df['Dates']=pd.to_datetime(covid_df['date'])

In [ ]:
# print(help(covid_df['date']))

print(help(covid_df['Dates']))

In [ ]:
from urllib.request import urlretrieve
italy_covid_url = 'https://gist.githubusercontent.com/aakashns/f6a004fa20c84fec53262f9a8bfee775/raw/f309558b1cf5103424cef58e2ecb8704dcd4d74c/italy-covid-daywise.csv'\

urlretrieve(italy_covid_url,"./data/italy_covid_data.csv")

In [ ]:
covid_df=pd.read_csv("./data/italy-covid-daywise.csv")

In [ ]:
covid_df

In [ ]:
type(covid_df)

In [ ]:
covid_df.info()

In [ ]:
import numpy as np

In [ ]:
covid_df.describe()

In [ ]:
covid_df

In [ ]:
import pandas as pd

In [ ]:
covid_df

In [ ]:
covid_df.date.info()

In [ ]:
covid_df['date']=pd.to_datetime(covid_df.date)

In [ ]:
covid_df.date.info()

In [ ]:
covid_df['day']=pd.DatetimeIndex(covid_df.date).day

covid_df['month']=pd.DatetimeIndex(covid_df.date).month

covid_df['year']=pd.DatetimeIndex(covid_df.date).year

covid_df['weekday']=pd.DatetimeIndex(covid_df.date).weekday

In [ ]:
covid_df

In [ ]:
Only_may_data=covid_df.loc[covid_df.month==5]

may_metric=Only_may_data[['new_cases','new_deaths','new_tests']]

In [ ]:
may_metric

In [ ]:
a=may_metric.sum()
a

In [ ]:
covid_df.loc[covid_df.month==5][['new_cases',"new_deaths","new_tests"]].sum()

In [ ]:
num_of_cases_Sundays=covid_df.loc[covid_df.weekday==6]['new_cases'].sum()

avg_num_of_cases=covid_df['new_cases'].mean()

if num_of_cases_Sundays > avg_num_of_cases :
    print("Yeah!!! You right...")
else:
    print("Oh! Your dumbass is wrong.....")

In [ ]:
avg_num_of_cases

In [ ]:
covid_df['new_cases']

In [ ]:
covid_df['months']=pd.DatetimeIndex(covid_df.date).month
covid_df

In [ ]:
covid_df_month_wise_grouping=covid_df.groupby('months')[['new_cases','new_deaths','new_tests']].sum()

In [ ]:
covid_df_month_wise_grouping

In [ ]:
covid_df['total_cases']=covid_df.new_cases.cumsum()

In [ ]:
covid_df['total_deaths']=covid_df.new_deaths.cumsum()

In [ ]:
covid_df['total_tests']=covid_df.new_tests.cumsum()

In [ ]:
covid_df

In [ ]:
locations_df=pd.read_csv("./data/locations.csv")

In [ ]:
locations_df

In [ ]:
locations_df[locations_df.location=="Italy"]

In [ ]:
covid_df['location']='Italy'  # ---> this italy value is going to be in all rows of this column you adding.

In [ ]:
covid_df

In [ ]:
merged_df=covid_df.merge(locations_df,on='location')

In [ ]:
merged_df

In [ ]:
merged_df.drop('Location',axis=1,inplace=True)

In [ ]:
merged_df

In [ ]:
covid_df.drop('Location',inplace=True,axis=1)

In [ ]:
merged_df['cases_per_million']=merged_df.new_cases*1e6/merged_df.population

In [ ]:
merged_df

In [ ]:
result_df=merged_df[['date','new_cases','new_deaths','new_tests','total_cases','total_deaths','total_tests','cases_per_million']]

In [ ]:
result_df

In [ ]:
result_df['deaths_per_million']=result_df.total_deaths * 1e6/merged_df.population

In [ ]:
result_df

In [ ]:
result_df['tests_per_million']=result_df.total_tests * 1e6 / merged_df.population

In [ ]:
result_df

In [ ]:
result_df=result_df[['date',
                       'new_cases', 
                       'total_cases',
                       'new_deaths', 
                       'total_deaths', 
                       'new_tests', 
                       'total_tests', 
                       'cases_per_million', 
                       'deaths_per_million', 
                       'tests_per_million']]

In [ ]:
result_df

In [ ]:
result_df.to_csv('./data/results.csv',index=None)

In [ ]:
result_df.new_tests.plot()

In [ ]:
result_df.set_index('date',inplace=True)

In [ ]:
result_df.new_deaths.plot()

In [ ]:
result_df

In [ ]:
result_df.new_cases.plot()
result_df.new_deaths.plot()

In [ ]:
merged_df.date.info()

In [ ]:
result_df.index=pd.to_datetime(result_df.index)   

# by doing df.index gives you the series containing index.
# so we can change the datatype of elements in index series and store it back into df.index.Because pd.to_datetime() method 
# returns series.
# That what we did above.

In [ ]:
result_df.index

In [ ]:
Death_rate=result_df.total_deaths/result_df.total_cases

In [ ]:
Death_rate

In [ ]:
Death_rate.plot(title='Death Rate')

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("./data/italy-covid-daywise.csv")

In [ ]:
df

In [ ]:
df.info()

In [ ]:
df

In [ ]:
df.at[246,'new_cases']

In [ ]:
df.loc[45]['new_cases']

In [ ]:
df.loc[1:20:2]

In [ ]:
df.new_cases.sum()

In [ ]:
(df[df.new_cases > 1000])

In [ ]:
df['positive_rate']=df.new_cases / df.new_tests

In [ ]:
df

In [ ]:
df.drop(columns=['positive_rate'],inplace=True)

In [ ]:
df

In [ ]:
df.sort_values('new_cases',ascending=True).head()

In [ ]:
df.at[172,'new_cases']=(df.at[171,'new_cases']+df.at[173,'new_cases'])/2

In [ ]:
df.at[172,'new_cases']

In [ ]:
df[170:175]

In [1]:
import pandas as pd

In [3]:
covid_df

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[248 rows x 4 columns]

In [8]:
covid_df.columns.tolist()

['date', 'new_cases', 'new_deaths', 'new_tests']